<div class="search" [class.active]="names !== undefined">
  <button id="names-list-button" [ngClass]="{ active: isDBLoading }" (click)="onSearchClick()">
    <div class="history-icon" [class.active]="names !== undefined">
      <img src="../../assets/images/history-icon.png" alt="history" />
    </div>
    <div class="loading-icon" [class.active]="isDBLoading">
      <img src="../../assets/images/loading.gif" alt="loading" />
    </div>
    <h3 [class.active]="names !== undefined">Past Searches:</h3>
  </button>
  <div id="history-button" class="name-list" [@flyInOut]="names.length > 0" *ngIf="names">
    <ul class="names">
      <li *ngFor="let name of names">
        '{{name}}'
      </li>
    </ul>
  </div>
</div>
