
div.tweets{
display:table;
padding:10%;
padding-bottom:27%;
padding-top:27%;
font-family:"Brush Script MT", cursive;
font-size:1.25em;
letter-spacing:0.2px;
background-image:url('../../assets/images/scroll.gif');
background-repeat:no-repeat;
background-size:cover;
color:#33220D;
}

h1{
font-size:2.65em;
text-align:left;
margin-bottom:10px;
text-transform:capitalize;
font-weight: lighter;
}

ul{
list-style:none;
align-items:center;
padding:0;
}

li{
width:95%;
margin:auto;
margin-bottom:10px;
line-height:1.25em;
font-size:1.25em;
text-indent:10%;
}

li::first-letter{
font-size:2.25em;
text-transform:capitalize;
}

@media all and (max-width: 600px){
  div.tweets{
  padding:10%;
  padding-top:35%;
  padding-bottom:35%;
  background-repeat:no-repeat;
  background-size:cover;
  }
}
