body{
color:black;
background-color:white;
font-family:sans-serif;
font-size:1em;
padding:0;
}

h1{
font-size:26px;
}

p{
letter-spacing:0.3px;
line-height:1.25em;
}

my-home{
  display:flex;
  flex-flow:column;
  justify-content:center;
  align-content:center;
}

.loading-icon{
display: none;
}

.loading-icon.active{
display:block;
}
